<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
    <target name="Console" xsi:type="Console" />
    <target name="AppEventLog" xsi:type="EventLog" log="Application" source="SQL Wristband" layout="${message}${newline}${exception:format=ToString}"/>
    <target name="LogFile" xsi:type="File" fileName="C:\Temp\SqlWristbandLog.txt" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Info" writeTo="AppEventLog" />
    <logger name="*" minlevel="Info" writeTo="LogFile" />
  </rules>
</nlog>